<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
     <main>
         <h1>Error 404</h1>
         <h2>Nothing exist here.</h2>
     </main>
     <br/><br/><br/>
  	<footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
