<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
        <br/><br/>
    <main>
        <form class="form-inline">
            <div class="form-group">
                <label for="url"></label>
                <input type="url" style="width:900px;"required class="form-control" id="url" placeholder="Enter the link of the youtube video you want to download. Example URL : https://www.youtube.com/watch?v=YaDvRdLMkHs">
                <!-- <small id="emailHelp" class="form-text text-muted">Example URL : https://www.youtube.com/watch?v=YaDvRdLMkHs </small> -->
                <select id="language" class="form-control" style="width:100px">
                    <option value="en" selected="selected">English</option>
                    <option value="fr">Français</option>
                    <option value="de">Deutsh</option>
                    <option value="nl">Nederlands</option>
                </select>
            </div>
            <button id="submit" class="btn btn-default">Submit</button>
            <img id="loader" hidden src="/static/images/ajax-loader.gif"></img>
        </form>
        <br/><br/>

        <!-- <div class="jumbotron">
            <h1>Youtube Subs Transcripter</h1>
            <p>Fetch transcript from youtube videos</p>
        </div> -->


        <div id="content" hidden  class="panel panel-default">
            <div style= "height:45px; padding:5px;" class="panel-heading">
                Transcript
            </div>
            <div class="panel-body"> Content </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>

<script>
$('#submit').click(function(event) {
   event.preventDefault();
   $('#loader').show();
   $.ajax({
      type: 'POST',
      url : '/ajax',
      data :  {
          url : $('#url').val(),
          lang: $("#language").val()
      },
      dataType: 'json',
      success: function(data) {
         console.log(data);
         if (data.error) {
             $('#loader').hide();
             $('#content').show();
             $('#content').attr('class', "panel panel-danger" );
             $('.panel-heading').html('Sorry, I failed you');
             $('.panel-body').html(data.error);
         }else{
             var panelBody = data.subs;
             var panelHeading = '<b>Transcript found!!</b> ' +
                                '<button   id="copy-btn" class="btn btn-success  pull-right" data-clipboard-text="' + panelBody +  '">' +
                                'Copy here' + '</button>';

             $('#loader').hide();
             $('#content').show();
             $('#content').attr('class', "panel panel-success" );
             $('.panel-heading').html(panelHeading);
             $('.panel-body').html(panelBody);
             $('#copy').show();
             new Clipboard('#copy-btn');
         }
      },
      error: function(data) {
          console.log(data);
          var panelHeading = 'Sorry, I failed you';
          var panelBody = 'Something went wrong';
          $('#loader').hide();
          $('#content').show();
          $('#content').attr('class', "panel panel-danger" );
          $('.panel-heading').html();
          $('.panel-body').html(panelBody);
      }
   });
});
</script>
