<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <form class="form-inline">
            <div class="form-group">
                Video URL :<label class="sr-only" for="url">Video URL:</label>
                <input type="url" class="form-control" id="url">
            </div>
            <button  id="submit" class="btn btn-default">Submit</button>
        </form>
        <br/><br/>

        <!-- <div class="jumbotron">
            <h1>Youtube Subs Transcripter</h1>
            <p>Fetch transcript from youtube videos</p>
        </div> -->
        <div id="content"  class="panel panel-default">
            <div class="panel-heading">Transcript</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>

<script>
$('#submit').click(function(event) {
   event.preventDefault();

   $.ajax({
      type: 'POST',
      url : 'http://localhost:8080/ajax',
      data :  {
          "url" : $('#url').val()
      },
      dataType: 'json',
      success: function(data) {
         console.log(data);
         if (data.error) {
             $('.panel-body').html(data.error);
         }else{
             $('.panel-body').html(data.subs);
         }
         //$('#content').show;
         //$('.panel-heading').html(url);

      },
      error: function(data) {
          console.log(data);
          //$('#content').show;
          //$('.panel-heading').html(" I failed you :( ");
          $('.panel-body').html("Something went wrong");
      }
   });
});
</script>
