<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <form class="form-inline">
            <div class="form-group">
                Video URL :<label class="sr-only" for="url">Video URL:</label>
                <input type="url" class="form-control" id="url">
                <img id="loader" hidden src="/static/images/ajax-loader.gif"></img>
            </div>
            <button  id="submit" class="btn btn-default">Submit</button>

        </form>
        <br/><br/>

        <!-- <div class="jumbotron">
            <h1>Youtube Subs Transcripter</h1>
            <p>Fetch transcript from youtube videos</p>
        </div> -->
        <div id="content" hidden  class="panel panel-default">
            <div class="panel-heading">Transcript</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
$('#submit').click(function(event) {
   event.preventDefault();
   $('#loader').show();
   $.ajax({
      type: 'POST',
      url : 'http://localhost:8080/ajax',
      data :  {
          "url" : $('#url').val()
      },
      dataType: 'json',
      success: function(data) {
         console.log(data);
         if (data.error) {
             $('#loader').hide();
             $('#content').show();
             $('#content').attr('class', "panel panel-danger" );
             $('.panel-heading').html('Sorry, I failed you');
             $('.panel-body').html(data.error);
         }else{
             $('#loader').hide();
             $('#content').show();
             $('#content').attr('class', "panel panel-success" );
             $('.panel-heading').html('Transcript found!!');
             $('.panel-body').html(data.subs);
         }
      },
      error: function(data) {
          console.log(data);
          $('#loader').hide();
          $('#content').show();
          $('#content').attr('class', "panel panel-danger" );
          $('.panel-heading').html('Sorry, I failed you');
          $('.panel-body').html("Something went wrong");
      }
   });
});
</script>
